.activity-data-lists {
  margin-bottom: 10px;
}

.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrow-icon {
  height: 20px;
  color: #1D1617;
}

@keyframes showupAnim {
  from {opacity: 0;}
  to {opacity: 1;}
}

.showup {
  animation: showupAnim .5s;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.5rem;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.5rem;
}

th {
  background-color: #f2f2f2;
}
