@font-face {
  font-family: "DB Ozone X"; /*Can be any text*/
  src: local("DB Ozone X v3.2"),
    url("../fonts/DB Ozone X v3.2.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "DB Ozone X";
}

body {
  text-align: center;
  transition: .5s;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root div {
  max-width: 1024px;
}